
.bg_color{
  background-color: #272B33;
  color: white;
  padding:70px 50px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.header{
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
}
.logo > img{
  width: 50px;
  margin-top:8px;
}
.header_info {
  margin-top: 15px;
}
.header_info > ul{
  display: flex;
}
.header_info > ul > li{
  margin: 0px 20px;
  font-weight: 500;
  font-size: 18px;
  align-self: center;
}
.header_info > ul >a{
  border: 1px solid #FF9800;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 20px;
  cursor: pointer;
  transition: .3s;
  text-decoration: none !important;
}
.header_info > ul > a:hover{
  background-color: #FF9800;
  color: white;
}
.h1div >h1{
  text-align: center !important;
  font-size: 100px;
  font-weight:900;
  color: #202329;
  margin-top: 50px;
  margin-bottom: 30px;
}
.item{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.child{
  display: flex;
  background-color: #3C3E44;
  margin: 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  height: 230px ;
}
.child > .child_info{
  margin-left: 30px;
  /* border: 1px solid black; */
}
.child_info > h2{
  margin-bottom: 0px !important;
  margin-top: 10px !important;
  font-size: 28px;
  cursor: pointer;
  transition: .3s;
}
.child_info > h2:hover{
  color: #FF9800;
}
.child_info > p{
  margin-top: 5px !important;
  font-weight: bold;
}

.child_info > font{
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}
.child_info > h5{
  margin-top: 5px !important;
  margin-bottom:10px !important;
  font-size: 17px;
  font-weight: 400 !important;
  cursor: pointer;
  transition: .3s;
  /* margin-bottom: 10px !important; */
}
.child_info > h5:hover{
  color: #FF9800;
}
.green_icon{
  background-color: rgb(85, 204, 68);
  border-radius: 100%;
  height: 8px;
  width: 8px;
}
.last ul{
  display: inline-block;
}
.last span{
  font-weight: normal;
}
.last span ul li{
  font-size: 11px;
}
.last span a{
  color: white !important;
  border-bottom: 1px solid rgb(255, 152, 0);
  transition: .2s;
  text-decoration: none !important;

}
.last span a:hover{
  color:rgb(255, 152, 0) !important;
  border: none;
  transition: .2s;
}
.s_hover:hover{
  color:rgb(255, 152, 0);
  transition: .2s;
}
.f_icons ul li:hover{
  color:rgb(255, 152, 0);
  transition: .2s;
}
footer{
  background-color: #202329;
  color: rgb(158, 158, 158);
  padding: 80px;
  text-align: center;
}
footer span{
  font-size: 14px;
  font-weight: 600;
  transition: .2s;
}


/*  */
/* Loader.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

